.pr-DashboardWidget {
    border: var(--jp-border-width) solid var(--jp-layout-color0);
    display: inline-block;
}

.pr-EditableWidget.pr-DashboardWidget {
    background: var(--jp-layout-color0);
}

.pr-EditableWidget.pr-DashboardWidget:focus {
    border: var(--jp-border-width) solid var(--jp-brand-color1);
}

.pr-EditableWidget.pr-DashboardWidget:hover {
    border: var(--jp-border-width) solid var(--jp-brand-color1);
}

.pr-DashboardArea {
    overflow: auto;
}

.pr-Resizer {
    display: none;
    width: 15px;
    height: 15px;
    right: 0;
    bottom: 0;
    cursor: nwse-resize;
    position: absolute;
}

.pr-DashboardWidgetChild {
    display: inline-block;
}

.pr-EditableWidget.pr-DashboardWidget:hover .pr-Resizer {
    display: block;
}

.pr-EditableBackground {
    background-image: linear-gradient(45deg, rgba(160,160,160,.15) 25%, transparent 25%), linear-gradient(-45deg, rgba(160,160,160,.15) 25%, transparent 25%), linear-gradient(45deg, transparent 75%, rgba(160,160,160,.15) 75%), linear-gradient(-45deg, transparent 75%, rgba(160,160,160,.15) 70%);
    background-size: 20px 20px;
    background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
    pointer-events: none;
}